body{
    background-color: lightgrey;
    max-width: max-content;
}

.container{
    position: relative;
}

.sectionsA{
    background-color: #2AB7CA;
    text-align: center;
    opacity: 0.7;
}

#titledesc{
    position: absolute;
    text-align: center;
    top:0px;
    color: white;
    border: none;
    background-color: none
}

#photo{
    height:auto;
    max-width:150px;
    border: black solid 5px;
    border-radius: 50%;
}

#medesc{
    position: relative;
    font-family: 'Spartan';
    font-size: 40px;
    font-style: oblique;
    font-weight: 100px;
    padding-left: 20px;
    text-align: center;
    opacity: 0.6;
}

#skillfilter{
    text-align:center;
}

#skillfilter img{
opacity: 0.5;
}

#skillfilter :hover{
    transform: scale(1.2);
    opacity: 1;
}

#projects{
display:flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
margin-top: 0px;
padding:0px;
}

.project{
 display:grid;
 position: relative;
 top:50px;
 width: 800px;
 height:355px;
  
-webkit-box-shadow: 13px 6px 33px 4px rgba(0,0,0,0.88);
-moz-box-shadow: 13px 6px 33px 4px rgba(0,0,0,0.88);
box-shadow: 13px 6px 33px 4px rgba(196, 175, 175, 0.88);

border: solid 3px #FED766
}

.pname{
    position: relative;
    bottom: 30px;
    width:444px;
    background-color: #2AB7CA;
    border:black solid 4px;
}

.pdesc{
    position: relative;
    font-family: 'Spartan';
    font-size: 16px;
    bottom: 375px;
    left: 460px;
    width:300px;
}

#icon{
    position: relative;
    bottom:62.8px;
}

#tags{
    position: relative;
    display:flex;
    left:50%;
    margin-left: 79px;
    width: 400px;
    opacity: 0.6;
}

.tag{
    position: relative;;
    bottom:310px;
    margin-right: 20px;
    border:black solid 1px;
    border-radius: 25%;
    padding:10px;
    background-color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: bold;
}

.responsive{
width: 100%;
max-width: 4032px;
height:auto;
max-height: 500px;
min-height: 450px;
border: black 5px solid;
}

button{
    position: relative;
    bottom:105px;
    right:-175px;
    background-color: #FED766;
    transform: scale(2.6);
    font-weight: bolder;
    margin-left: 100px;
    z-index: 3;
}

#contact{
    text-align: center;
}

.icon{
    position: relative;
    top:100px;
    margin-right: 50px;
}

h1{
    font-size: 50px;
    font-family: 'Open Sans';
    font-weight: 100px;
    text-align: center;
    color: black;
}

h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans';
}

h3{
    font-style: italic;
    font-size: 30px;
    font-weight: 500;
}